<html>

    <head>
        <title>Node HTML file onto the browser</title>
        
    </head>
    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <h3>createdBy:{{createdBy}}</h3>
        {{>footer}}
    </body>
</html>